<h1>Editing Inter Team Trade Group</h1>

<%= render 'form', inter_team_trade_group: @inter_team_trade_group %>

<%= link_to 'Show', @inter_team_trade_group %> |
<%= link_to 'Back', inter_team_trade_groups_path %>
