.row: .col-md-12
  h2 Player Stats
  h4 Dream Team
  = render partial: 'shared/datatable',
                     locals: { table_id: 'player-dreamteam',
                               data_source_url: player_dreamteam_datatable_players_url(format: 'json'),
                               columns: { 'Name' => 'sorting',
                                          'Team' => 'sorting',
                                          'Position' => 'sorting',
                                          'Influence' => 'sorting',
                                          'Creativity' => 'sorting',
                                          'Threat' => 'sorting',
                                          'Bonus' => 'sorting',
                                          'Form' => 'sorting',
                                          'Dreamteam Count' => 'sorting',
                                          'Points Per Game' => 'sorting',
                                          'Total Points' => 'sorting sorting-default-desc' } }
.row: .col-md-12
  h3 Stats - Attack
.row
  - %w(goals_scored assists winning_goals big_chances_created key_passes target_missed).each do |stat|
    .col-md-6
      h4 #{stat.gsub('_', ' ').titleize}
      = render partial: 'shared/datatable',
                        locals: { table_id: "player-stats-#{stat.gsub('_', '-')}",
                        data_source_url: player_stats_datatable_players_url(format: 'json', stat: stat),
                        columns: {'Name' => 'sorting',
                                  'Team' => 'sorting',
                                  'Position' => 'sorting',
                                  stat.gsub('_', ' ').titleize => 'sorting sorting-default-desc' } }
