/*
*= require datatables/dataTables.bootstrap
*
*optional add '=' enable
* require datatables/extensions/AutoFill/autoFill.bootstrap
* require datatables/extensions/Buttons/buttons.bootstrap
* require datatables/extensions/ColReorder/colReorder.bootstrap
* require datatables/extensions/FixedColumns/fixedColumns.bootstrap
* require datatables/extensions/FixedHeader/fixedHeader.bootstrap
* require datatables/extensions/KeyTable/keyTable.bootstrap
* require datatables/extensions/Responsive/responsive.bootstrap
* require datatables/extensions/RowReorder/rowReorder.bootstrap
* require datatables/extensions/Scroller/scroller.bootstrap
* require datatables/extensions/Select/select.bootstrap
*/

.responsive-table {
  position: relative;
  overflow: hidden;

  table {
    td {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.box-content.box-no-padding {
  .table-striped {
    th, td {
      &:first-child { border-left:  none; }
      &:last-child { border-right:  none; }
    }
  }
}

.dataTables_wrapper {
  .datatables-top, .datatables-bottom {
    padding: 5px;
  }

  @include sm-minus {
    .datatables-top, .datatables-bottom {
      text-align: center;
      .dataTables_filter {
        float: none;
        text-align: center;
        label {
          float: none;
        }
      }
      .dataTables_paginate {
        text-align: center;
        float: none;
        margin-left: 0;
        margin-right: 0;
      }
      .dataTables_length {
        text-align: center;
        display: inline-block;
        float: none;
      }
    }
  }

  @include clearfix;

  .dataTables_length {
    margin: 13px 10px 5px 10px;
    float: left;
  }

  .dataTables_filter {
    margin: 10px 10px 5px 10px;
    float: right;
  }

  .dataTables_info {
    padding: 0;
    margin: 4px 10px 10px 10px;
  }

  .dataTables_paginate {
    margin-right: 10px;

    .pagination {
      margin: 0;
    }
  }

  .filter_column {
    input[type="text"] {
      display: block;
      width: 100%;
      min-height: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  .sorting {
    &:after {
      @include font-awesome-icon;
      content: "\f0dc";
      float: right;
    }
  }

  .sorting_asc {
    &:after {
      @include font-awesome-icon;
      content: "\f0de";
      float: right;
    }
  }

  .sorting_desc {
    &:after {
      @include font-awesome-icon;
      content: "\f0dd";
      float: right;
    }
  }
}

.table-hover {
  .selected-row {
    td {
      background-color: $red;
      color: $white;
      a {
        color: $white;
      }
    }
  }
}

.difficulty-t4 {
  background-color: $blue;
}

.difficulty-t3 {
  background-color: $dodger-blue;
}

.difficulty-t2 {
  background-color: $deep-sky-blue;
}

.difficulty-t1 {
  background-color: $aqua;
}

.difficulty-e {
  background-color: $chartreuse;
}

.difficulty-o1 {
  background-color: $yellow;
}

.difficulty-o2 {
  background-color: $tangerine-yellow;
}

.difficulty-o3 {
  background-color: $orange;
}

.difficulty-o4 {
  background-color: $red;
}

table.difficulty-advantage-key {
  margin-bottom: 0;
  tr {
    td.even-advantage-td {
      border-top-color: $white;
      background-color: $white;
    }
  }
}
