.difficulty-t4 {
  background-color: #3366ff;
}

.difficulty-t3 {
  background-color: #3399ff;
}

.difficulty-t2 {
  background-color: #33ccff;
}

.difficulty-t1 {
  background-color: #33ffff;
}

.difficulty-e, .champions-league, .player-status-a {
  background-color: #4dff4d !important;
}

.difficulty-o1 {
  background-color: #ffff4d;
}

.difficulty-o2, .player-status-d {
  background-color: #ffd24d;
}

.difficulty-o3 {
  background-color: #ff6633;
}

.difficulty-o4, .relegation, .player-status-i, .player-status-u, .player-status-s {
  background-color: #ff4d4d !important;
}

table.difficulty-advantage-key {
  margin-bottom: 0;
  tr {
    td.even-advantage-td {
      border-top-color: $white;
      background-color: $white;
    }
  }
}
