table.league-list-table {
  th, td {
    text-align: center;
    vertical-align: middle !important;
  }

  &.scroll-table {
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.rank-first {
  background-color: $gold !important;
}

.rank-second {
  background-color: $silver !important;
}

.rank-third {
  background-color: $bronze !important;
}

.rank-last {
  background-color: $red !important;
}
