table.league-list-table {
  th, td {
    text-align: center;
    vertical-align: middle !important;
  }

  overflow-x: scroll;
}

.rank-first {
  background-color: $gold !important;
}

.rank-second {
  background-color: $silver !important;
}

.rank-third {
  background-color: $bronze !important;
}

.rank-last {
  background-color: $red !important;
}
