table.league-list-table {
  thead > tr > th, tbody> tr > td {
    text-align: center;
    vertical-align: middle;

    &.rank-first {
      background-color: $gold;
    }

    &.rank-second {
      background-color: $silver;
    }

    &.rank-third {
      background-color: $bronze;
    }

    &.rank-last {
      background-color: $red;
    }

    &.round-header {
      border-top: 2px solid $black !important;
      border-left: 2px solid $black;
      border-right: 2px solid $black;
    }

    &.score-col {
      border-left: 2px solid $black;
    }

    &.rank-col {
      border-right: 2px solid $black;
    }
  }

  tbody > tr:last-child > td.score-col, tbody > tr:last-child > td.rank-col {
    border-bottom: 2px solid $black;
  }



  &.scroll-table {
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
