@mixin xs-only { @media(max-width: $screen-sm - 1) { @content; } }
@mixin xs-only-land { @media (max-width: $screen-sm - 1) and (orientation: landscape) { @content; } }
@mixin xs-only-port { @media (max-width: $screen-sm - 1) and (orientation: portrait) { @content; } }
@mixin sm-only { @media (min-width: $screen-sm) and (max-width: $screen-sm-max) { @content; } }
@mixin md-only { @media (min-width: $screen-md) and (max-width: $screen-md-max) { @content; } }
@mixin lg-only { @media (min-width: $screen-lg) and (max-width: $screen-lg-max) { @content; } }

@mixin sm-plus { @media (min-width: $screen-sm) { @content; } }
@mixin md-plus { @media (min-width: $screen-md) { @content; } }
@mixin lg-plus { @media (min-width: $screen-lg) { @content; } }

@mixin sm-minus { @media (max-width: $screen-sm - 1) { @content; } }
@mixin md-minus { @media (max-width: $screen-md - 1) { @content; } }
@mixin lg-minus { @media (max-width: $screen-lg - 1) { @content; } }

@mixin font-awesome-icon {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  *margin-right: .3em;
  @include opacity(.3);
}

@mixin base-crest($width, $height) {
  object-fit: none;
  width: 100px;
  height: 100px;
  object-position: $width $height;
  border: none;
}
