// Place all the styles related to the Rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
  &::-webkit-scrollbar {
    display: none;
  }
}

.nav-tabs > li {
  float: none;
}

.tooltip.fade.top.in {
  z-index: 100000;
  display: inline-block;
}
