@mixin base-crest($width, $height) {
  background-image: url('https://ismdj.scdn5.secure.raxcdn.com/static/libsass/plfpl/dist/pulselive/i/' +
                        'sprites/badges-50-sprite@x2.png');
  width: 100px;
  height: 100px;
  background-position: $width $height;
  zoom: 40%;
  border: none;
}

.ars { @include base-crest(-200px, -100px); }
.bou { @include base-crest(0px, -500px); }
.bur { @include base-crest(-600px, -400px); }
.che { @include base-crest(-300px, -600px); }
.cry { @include base-crest(-700px, -600px); }
.eve { @include base-crest(-800px, -300px); }
.hul { @include base-crest(-900px, -300px); }
.lei { @include base-crest(-300px, -900px); }
.liv { @include base-crest(-600px, -900px); }
.mci { @include base-crest(-1000px, -700px); }
.mun { @include base-crest(-600px, -1000px); }
.mid { @include base-crest(0px, -1000px); }
.sou { @include base-crest(-800px, -1200px); }
.stk { @include base-crest(-1200px, -1200px); }
.sun { @include base-crest(-1300px, -200px); }
.swa { @include base-crest(-1300px, -300px); }
.tot { @include base-crest(-1300px, -500px); }
.wat { @include base-crest(-1300px, -800px); }
.wba { @include base-crest(-1300px, -900px); }
.whu { @include base-crest(-1300px, -1000px); }
