$white: #fff;
$blue: #0000ff;
$dodger-blue: #007eff;
$deep-sky-blue: #00ccff;
$aqua: #05f7f7;
$chartreuse: #7fff00;
$yellow: #f7f705;
$tangerine-yellow: #ffcc00;
$orange: #ffa500;
$red: #ff0000;
$dark-red: #8b0000;
$gold: #ffd700;
$silver: #c0c0c0;
$bronze: #cd7f32;
$black: #000000;



.panel-group {
  &.fixture-group, &.data-group {
    margin-bottom: 5px;
    text-align: center;
  }
}


.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}
