<!DOCTYPE html>
<html>
<head>
  <title>FplApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta http-equiv="Content-Language" content="en">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
